 h1{
  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body  {
    background-image: url("http://freedesignfile.com/upload/2015/01/White-lace-seamless-pattern-background-vector.jpg");
    background-color: #cccccc;
}




