 h1{
  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body {
    background-image: url("https://image.freepik.com/free-vector/white-rhombus-pattern_1053-249.jpg");
    background-color: #cccccc;
}
