 h1{
  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body  {
    background-image: url("https://image.freepik.com/free-vector/white-cubes-pattern_1053-248.jpg");
    background-color: #cccccc;
}

table{
 font-family: verdana;
}



